
@font-face{
    src: url(/src/assets/fonts/BalooTammudu2-Regular.ttf);
    font-family: 'Baloo';
}
@font-face{
    src: url(/src/assets/fonts/Ubuntu-Regular.ttf);
    font-family: 'Ubuntu';
}

.pg-title .title{
    font-family: 'Baloo';
    font-size: 35px;
    text-align: center;
    color:black;
    height: 1200px;
}
.card{
    margin-top: -1100px;

}